{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between tables-pages">
    <div>
        <a href="./">For rent</a>
    </div>
    <div>
        <a href="./forsale">For sale</a>
    </div>
</div>
<hr>
<div class="table-content">
    <table class="table table-striped-columns" border="1">
        <thead>
            <tr>
                <th>Mobile number</th>
                <th>Myhome link</th>
                <th>Myhome id</th>
                <th>SS link</th>
                <th>SS id</th>
                <th>Apartment area</th>
                <th>Price</th>
                <th>Percentage</th>
                <th>Address</th>
                <th>Agent</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for forsale in sales %}
            <tr>
                <td>{{ forsale.mobile }}</td>
                <td><a href="{{ forsale.myhomelink }}" target="_blank" rel="noopener noreferrer">{{ forsale.myhomelink }}</a></td>
                <td>{{ forsale.myhomeid }}</td>
                <td><a href="{{ forsale.sslink }}" target="_blank" rel="noopener noreferrer">{{ forsale.sslink }}</a>
                </td>
                <td>{{ forsale.ssid }}</td>
                <td>{{ forsale.area }} m<sup>2</sup></td>
                <td>{{ forsale.price }}$</td>
                <td>{{ forsale.percentage }}</td>
                <td>{{ forsale.address }}</td>
                <td>{{ forsale.agent }}</td>
                <td>
                    <a href="deleteforsale/{{ forsale.id }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}